.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://photos-3.dropbox.com/t/2/AAD4zAaTSWohrXfSxESeQgc_PyQi8vNBWLvZCCrMvIq8Kg/12/132676176/jpeg/256x256/1/_/1/2/DSC_0321.JPG/EOWKvdgDGKsBIAcoBw/FJJRyurIIX_dkD8WtQcI3DODb6rJenDYBWgm2QNO1nM?size=2048x1536&size_mode=3');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}
.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}
