ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

ul.topnav li {
  float: left;
}

ul.topnav a {
  display: inline-block;
  padding: 8px;
  color: #000080;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}

ul.topnav li a:hover {
  background-color: gray;
}

ul.topnav li.icon {
  display: none;
}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

.jumbotron-text {
  color: white;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://www.dropbox.com/s/r37myj5urlu4drp/DSC_0321.JPG?raw=1');
  background-size: 100% 100%;
  color: #ffffff;
  height: 550px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #000080;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #000080;
}

.title {
  display: flex;
  justify-content: center;
  margin: 3rem;
}

.gallery {
  display:inline-block;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}

.bottom-buffer {
  margin-bottom: 10px;
}

.gallery-item .picture {
max-width: 100%;
border: 0;
padding: 0;
}

section .row img {
  width: 100%;
}
