.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://www.dropbox.com/s/r37myj5urlu4drp/DSC_0321.JPG?dl=0');
  background-size: cover;
  color: #ffffff;
  height: 550px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}
.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}
